<form action="/urls" method="POST" id="form" novalidate>
  <div class="mb-3">
    <label for="url" class="form-label"></label>
    <input type="url" class="form-control" id="url" name="url" placeholder="Please enter your URL here" pattern="https://.*"
      required>
    <div class="invalid-feedback"> This field is required.</div>
    <div class="valid-feedback">Correct</div>
    <button type="submit" id="submitButton" class="btn btn-outline-primary my-3"
      style=" min-width: 18rem; --bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: 1.15rem;">Shorten URL</button>
  </div>
</form>