<div>
  <h2>Success! Please use this link: </h2>
  <a id="target_url" href="http://localhost:3000/{{ shortUrl }}" target="_blank">http://localhost:3000/{{ shortUrl }}</a>
</div>
<div class="text-center">
  <button id="copy_btn" onClick="copyUrl()" type="submit" class="btn btn-primary mt-3">Copy</button>
</div>