<div>
  <h2>Success! Please use this link: </h2>
  <a href="http://localhost:3000/{{ shortUrl }}" target="_blank">http://localhost:3000/{{ shortUrl }}</a>
</div>
<div class="text-center">
  <button type="submit" class="btn btn-primary mt-3">Copy</button>
</div>